<h1 class="mt-5">Seletores aninhados</h1>
<hr>


<form [formGroup]="form" (ngSubmit)="pesquisar()">
  <div class="row">
    <div class="col mb-3">
      <label class="form-label">Continente</label>
      <select formControlName="region" class="form-control">
        <option value=""> -- Selecione Continente -- </option>
        <option *ngFor="let r of regions; let i = index" [value]="r | lowercase"> {{ r }} </option>
      </select>
    </div>
  </div>

  <div *ngIf="carregando" class="row">
   <div class="col mb-3">
    <div class="alert alert-primary">
      Carregando...
    </div>
   </div>
  </div>

  <div *ngIf="paises.length > 0" class="row mb-3">
    <div class="col">
      <label class="form-label">Paises</label>
      <select formControlName="pais" class="form-control">
        <option value=""> -- Selecione País -- </option>
        <option *ngFor="let p of paises; let i = index" [value]="p.alpha3Code"> {{ p.name }} </option>
      </select>
    </div>
  </div>

  <div *ngIf="fronteiras" class="row mb-3">
    <div class="col">
      <label class="form-label">Fronteiras</label>
      <select formControlName="fronteira" class="form-control">
        <option value=""> -- Selecione Fronteira -- </option>
        <option *ngFor="let f of fronteiras?.borders; let i = index" [value]="f"> {{ f }} </option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-primary float-end">Pesquisar</button>
    </div>
  </div>
</form>

<h3>Formulario</h3>
<pre> Valid: {{ form.valid | json }} </pre>
<pre> {{ form.value | json }} </pre>
